@import url("https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
:root {
  --primary-color: #0084ff;
  --secondary-color: #4dd1ed;
  --third-color: #c4c4c4;
  --text-color1: #728196;
  --text-color2: #000000;
}

* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 92px;
  position: relative;
}

a.link-sm {
  color: var(--text-color2);
  text-decoration: none;
  font-size: 32px;
  font-weight: 500;
}

button.btn-primary {
  background-color: var(--primary-color);
  color: white;
  border: 2px solid;
  padding: 16px 40px;
  border-radius: 300px;
  font-size: 20px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button.btn-primary:hover {
  background-color: white;
  color: var(--primary-color);
  border: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 16px 40px;
  border-radius: 300px;
  font-size: 20px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button.btn-secondary {
  background-color: var(--third-color);
  color: white;
  border: 2px;
  border-style: solid;
  padding: 16px 40px;
  border-radius: 300px;
  font-size: 20px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button.btn-secondary:hover {
  background-color: white;
  color: var(--text-color2);
  border: 2px;
  border-style: solid;
  padding: 16px 40px;
  border-radius: 300px;
  font-size: 20px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button.btn-primary-sm {
  background-color: var(--primary-color);
  color: white;
  border: 2px solid var(--primary-color);
  padding: 9px 30px;
  border-radius: 300px;
  font-size: 20px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button.btn-primary-sm:hover {
  background-color: white;
  color: var(--primary-color);
  border: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 9px 30px;
  border-radius: 300px;
  font-size: 20px;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-brand {
  -webkit-transform: translateX(65%);
          transform: translateX(65%);
  left: 50%;
}

.nav-link {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.hero p.text-p {
  padding-top: 15px;
  font-family: "Montserrat", cursive;
  font-size: 18px;
  color: var(--text-color1);
  line-height: 38px;
  margin: 20px 0;
}

.col-ilustration .bg-1 {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -9999;
}

h1.hero-heading {
  padding-top: 100px;
  font-size: 52px;
  font-family: "Sonsie One", cursive;
}

.hero-heading {
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  80% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.text-p {
  -webkit-animation-name: moveInRight;
          animation-name: moveInRight;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  80% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.judul {
  -webkit-animation-name: moveInBot;
          animation-name: moveInBot;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

@-webkit-keyframes moveInBot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  80% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes moveInBot {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  80% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=style.css.map */